header {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo{ 
    line-height: 36px;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    color: #ddd;
    padding: 0 15px;
}

main {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
    height:86%
}

.image_cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(3px);
}

.image_cover:hover{
    opacity: 1;
}

.description{
    font-size: 1.00em;
    margin-left: 0.30em;
    margin-top: 0.25em;
    margin-right: 0.30em;
    text-align: center;
    font-family: Monaco, sans-serif;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.link{
    text-decoration:none;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.5px;
    font-size: 1.20em;
    font-weight: bold;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.button {
    background-color: #eee;
    font-weight: bold;
    border: none;
    color: #22254b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }

  .click{
    display: inline-block;
  }