.body{
    display: flex;
    min-height: 100vh;
}

.containerSort{
    display: block;
    text-align: center;
}

.order{
    position: relative;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

li{
    display: flex;
    background: rgba(255 255 255 .1);
    padding: 10px 20px;
    color: #eee;
    border-top: 1px solid #eee;

}

.singalOrder{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    background-color: #22254b;
    border-radius: 5px;
    border: 3px solid white;
}

.heading{
    color: #eee;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}